.container {
  background: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  color: white;
  padding: 15px;
}
.midi-block {
  display: block;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.key {
  color: MediumSeaGreen;
  font-family: Consolas, monaco, monospace;
}
.message {
  padding-left: 10px;
  color: LightSalmon;
  font-family: Consolas, monaco, monospace;
}